APIM_TENANT_ID=your-tenant-id
APIM_SUBSCRIPTION_ID=your-subscription-id
APIM_RESOURCE_GROUP_NAME=your-resource-group-name
APIM_SERVICE_NAME=your-apim-service-name

# Optional overrides
APIM_MANAGEMENT_API_ENDPOINT=https://management.azure.com
APIM_REDIRECT_URI=http://localhost:1337
APIM_WIDGET_NAME=cw-api-usage
APIM_FALLBACK_CONFIG_PATH=./static/config.msapim.json